<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%== pagy_bootstrap_nav @pagy %>

<% @questions.each do |question| %>
  <article class="card my-3">
    <div class="card-body">
      <h4><%= question.title %></h2>

      <section class="card-text">
        <time datetime="<%= question.formatted_created_at %>">
          <small><%= question.formatted_created_at %></small>
        </time>

        <p class="my-2">
          <%= truncate strip_tags(question.body), length: 150, omission: '... (continued)' %>
        </p>
      </section>

      <%= link_to 'Show', question_path(question), class: 'btn btn-primary' %> 
      <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', question_path(question), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>

<%== pagy_bootstrap_nav @pagy %>