<% provide :page_title, t('.title') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<section class="mb-5">
  <h2><%= t '.search_by_tags' %></h2>

  <%= form_with url: questions_path, method: :get do |f| %>
    <div class="mb-3">
      <%= f.collection_select :tag_ids, (@tags || []), :id, :title, {selected: params[:tag_ids]},
        multiple: true, required: true,
        class: 'js-multiple-select', data: {'ajax-url': '/api/tags'} %>
    </div>

    <%= f.submit t('global.button.submit'), class: 'btn btn-primary' %>
  <% end %>
</section>

<% if policy(:question).new? %>
  <%= link_to t('.new'), new_question_path,
    class: 'btn btn-primary btn-lg mb-3',
    data: { turbo_frame: dom_id(Question.new) } %>

  <div class="my-3">
    <%= turbo_frame_tag Question.new %>
  </div>
<% end %>

<%= turbo_frame_tag 'pagination_pagy' do %>
  <%= pagination @pagy %>

  <%= turbo_frame_tag 'questions' do %>
    <%= render @questions %>
  <% end %>

  <%= pagination @pagy %>
<% end %>