<% provide :page_title, @question.title %>
<% currently_at t('menu.questions') %>

<article class="mb-3">
  <%= render @question %>
</article>

<%= render 'comments/commentable', commentable: @question, comment: @comment %>

<h2 class="my-3"><%= t '.write_answer' %></h2>

<%= render 'answers/form' %>

<h2 class="mt-5 mb-3"><%= t '.answers' %></h2>

<%= pagination @pagy %>

<%= turbo_frame_tag 'answers' do %>
  <%= render partial: 'answers/answer', collection: @answers,
    as: :answer, locals: {question: @question} %>
<% end %>

<%= pagination @pagy %>