<% provide :page_title, @question.title %>
<% currently_at 'Questions' %>

<h1 class="mb-4"><%= @question.title %></h1>

<time datetime="<%= @question.formatted_created_at %>">
  <%= @question.formatted_created_at %>
</time>

<div class="lead my-3">
  <%= sanitize @question.body %>
</div>

<div class="btn-group">
  <%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %> 
  <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
  <%= link_to 'Destroy', question_path(@question), class: 'btn btn-danger',
    data: {method: :delete, confirm: 'Are you sure?'} %>
</div>

<hr class="my-3">

<h2 class="mb-3">Write your answer</h2>

<%= render 'answers/form' %>

<h2 class="mt-5">Answers</h2>

<%== pagy_bootstrap_nav @pagy %>

<%= render partial: 'answers/answer', collection: @answers,
  as: :answer, locals: {question: @question} %>

<%== pagy_bootstrap_nav @pagy %>