<% provide :page_title, 'Log In' %>
<% currently_at 'Log In' %>

<h1 class="mb-4">Log In</h1>

<%= form_with url: session_path do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, value: params[:email], placeholder: 'E-mail',
        class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-10">
      <div class="form-check">
        <%= f.check_box :remember_me, class: 'form-check-input', value: '1' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <%= f.submit "Sign In!", class: 'btn btn-primary btn-lg' %>
<% end %>