<% is_current_comment = comment&.for?(commentable) %>
<% comment_builder = is_current_comment ? comment : commentable.comments.build %>

<%= link_to t('questions.show.comments'), "##{html_id}",
  class: 'btn btn-primary', data: {'bs-toggle': 'collapse'} %>

<%= tag.div class: "collapse #{'show' if is_current_comment}", id: html_id do %>
  <% if policy(comment_builder).create? %>
    <%= form_with model: [commentable, comment_builder],
    class: 'pt-3 border-top my-2' do |f| %>
      <% if is_current_comment %>
        <%= render 'shared/errors', object: comment %>
      <% end %>

      <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :body %>
        </div>

        <div class="col-sm-10">
          <%= f.text_area :body, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <%= f.submit t('global.button.submit'), class: 'btn btn-sm btn-primary' %>
    <% end %>
  <% end %>

  <%= render commentable.comments.includes(:user).decorate %>
<% end %>