<% provide :page_title, 'Admin Users' %>
<% currently_at 'Users' %>

<h1 class="mb-4">Admin Users</h1>

<div class="btn-group mb-3">
  <%= link_to 'Download zipped XLSX', admin_users_path(format: :zip),
    class: 'btn btn-secondary' %>
</div>

<%= pagination @pagy %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= pagination @pagy %>

<h2 class="mb-3">Upload users from XLSX</h2>

<%= form_with url: admin_users_path do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :archive, 'Select archive' %>
    </div>

    <div class="col-sm-10">
      <%= f.file_field :archive, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Upload!', class: 'btn btn-primary' %>
<% end %>